@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    @apply bg-[#1d1d1d];
}

nav{
    @apply bg-black shadow md:flex md:items-center md:justify-evenly list-none px-6;
}

ul{
    @apply md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-black w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500 text-white;
}

.md-flex{
    text-decoration: none;
}
.container {
    position: relative;
  }
  
  
  .overlay {
    position: absolute;
    top: -55px;
    bottom: -55px;
    left: 0;
    right: 0;
    max-height: 160%;
    width: 100%;
    opacity: 0;
    transition: .4s ease-in-out;
    background-color: #FF7825;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }